﻿<div class="container">
  <div class="h3">Woops, looks like you're not authorized to view this page.</div>
  <div>Would you prefer to<a asp-controller="Gallery" asp-action="Logout">Log in as someone else</a>?</div>
</div>